:root{
    --text-color: white;
   
    --gradiante-orange: rgba(255, 143, 113, 1);
    --gradiante-yellow: rgba(243, 190, 0, 1);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    color: var(--text-color);
}
body{
background-color: rgba(21, 20, 31, 1);
    /* background-color: rgba(21, 20, 31, 1); */
    width: 375px;
}
.subTitle-container{
    display: flex;
}

h2{
    color:var(--gradiante-orange);
}

.trendingPreview-movieList{
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:x proximity;
    gap: 15px;

}


.movie-container{
    position: relative;
    scroll-snap-align: end ;
   
}

.movie-img{
    background: #C4C4C4;
    width: 150px;
    height: 255px;
    border-radius: 12px;
    
}